* {
    font-family: "Helvetica Neue", sans-serif;
    box-sizing:  border-box;
}

body {
    // border: 1px solid #ddd;
    outline: 1300px solid #fff;
    margin: 8px auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 980px;
    line-height: 1.6;
}


.homepage {
    text-align: center;
}


h1 {
    font-size: 2em;
    margin: 0.67em 0;
    padding-top: 2em;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 1.5em;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.1;
}


p {
    margin-top: 16px;
}

img {
    border: 0;
    display: block;
    // width: 50em;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

img + em {
  display: block;
  text-align: center;
  font-style: italic;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.current {
    color: green;
}

nav {
    text-align: center;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

blockquote {      // for blockquote lines with >
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}

code,
samp {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

code:before,
code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}


pre {     // for fenced code blocks (triple backtick)
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}